.Navigation{
    background-color: #123D6A;
    height: 100vh  ;
    float: left !important;
    animation: openModal 0.5s ease-out ;

}
.NavigationChange{
    display: none !important;

}
.Navigation h5{
    color: #f2f3d9;

}

.Navigation ul{
    padding: 20px;
    list-style-type: none;
}
.Navigation ul li {
    margin-top: 60px;
    font-weight: 600;
    font-size: 25px;
    color: #f5f5ef;
    text-decoration: none !important;
    border: 1px solid white;

}

.Navigation ul li:hover{
    cursor: pointer;
    background-color: #FDFFFC;
    transition: 0.2s ease-in-out;
    color: #4A5859;
    border-radius: 20px;
}

.ham{
    border:none;
}

@keyframes openModal {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0);   }
}