.social-mentee a{
    cursor: pointer;
    padding: 3px;
}
.card {
    padding: 0px !important;
    border: 1px solid #235789 !important;
    margin: 5px;
    background-color: #B3B7D0;
}
.card h4{
 color: #2D3142;
}