.upnext{
    margin-top: 100px !important;
    background-color: #f7b496;
    padding-top: 80px;
    padding-bottom: 80px;
}
.upnext h1{
 font-weight: 800;
 text-decoration: underline;
 color: rgb(54, 50, 50);
 
}
.upnext img{
    cursor: pointer;
}
.upnext img:hover{
    transform: scale(1.1);
    transition-duration: 0.5s ;

}