.main {
    margin-top: 70px !important;
    padding-bottom: 50px !important;
}
.main .info{
    padding: 20px 50px 50px 50px;
}
.main .info h3,p{
    margin-bottom: 30px !important;
}
.main p{
    font-size: 1em;
    color: #1D3557;

}
